@model SiteAdminModel

@{
    ViewBag.Title = "Site admin";
}

<style>
    .box-height{
        min-height:250px;
    }
</style>

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div class="row row-flex">

    <div class="col-md-12">
        <div class="panel panel-default feature-panel">
            <div class="panel-heading">
                <h3 class="large-panel-title">General</h3>
            </div>
            <div class="panel-body box-height">


                <a class="btn btn-standard btn-sm" asp-controller="Manage" asp-action="SiteAdminUsers">Users</a>

                <div class="col-md-6">
                    <h3>Totals</h3>
                    <div>Users: @Model.Info.UsersCount</div>
                    <div>User logins: @Model.Info.LoginAttemptCount</div>
                </div>

                <div class="col-md-6">
                    <h3>Last 24 hours</h3>
                    <div>Users: @Model.Info.UsersNewCount</div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="panel panel-default feature-panel">
            <div class="panel-heading">
                <h3 class="large-panel-title">Log</h3>
            </div>
            <div class="panel-body">

                <button type="button" class="btn btn-warning btn-sm" asp onclick="ClearLog()">
                    <span class="glyphicon glyphicon-trash"></span> Clear log
                </button>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Time</th>
                            <th>Type</th>
                            <th>Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Info.Logs)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td title="@item.Timestamp.ToFileTimeString()">@DateTimeExtensions.ToStringFriendly(item.Timestamp, ViewBag.TimeZone)</td>
                                <td>@item.Type</td>
                                <td>@item.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>