@model OrderHistoryModel

@{
    ViewData["Title"] = "Usage history";
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
    <li class="active">@ViewData["Title"]</li>
</ul>

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Order details</h3>
            </div>

            @if (Model.Orders.Count == 0)
            {
                <div class="panel-body">
                    <p>You don't have any orders.</p>
                </div>
            }
            else
            {
                <ul class="list-group">
                    @foreach (Order order in Model.Orders)
                    {
                        <li class="list-group-item">
                            <table>
                                <colgroup>
                                    <col span="1" style="width:250px;">
                                    <col span="1" style="width:250px;">
                                    <col span="1" style="width:250px;">
                                    <col span="1" style="width:250px;">
                                </colgroup>

                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="existing-label">Time:</label>
                                            <span>@DateTimeExtensions.ToStringFriendly(order.Timestamp, ViewBag.TimeZone)</span>
                                        </td>
                                        <td>
                                            <label class="existing-label">Type:</label>
                                            @*<span>@order.OrderType</span>*@
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label class="existing-label">Order id:</label>
                                            <span>@order.Id</span>
                                        </td>
                                        <td>
                                            <label class="existing-label">Status:</label>
                                            <span>@order.Status</span>
                                        </td>
                                        <td>
                                            <label class="existing-label">Value:</label>
                                            <span>@order.Currency @order.ValueInCurrency.ToString("0.00")</span>
                                        </td>
                                        <td>
                                            @*@if (order.CanComplete)
                                            {
                                                <a class="btn btn-standard btn-sm" style="width:100px" asp-controller="Orders" asp-action="ChoosePaymentMethod" asp-route-orderId="@order.Id">
                                                    <span class="glyphicon glyphicon-shopping-cart"></span> Complete
                                                </a>
                                            }*@

                                            @if (order.CanDelete)
                                            {
                                                <form style="display:inline;" method="post" asp-controller="Orders" asp-action="DeleteOrder" asp-route-orderId="@order.Id">
                                                    <button class="btn btn-warning btn-sm" style="width:100px;" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </li>
                    }
                </ul>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Usage details</h3>
            </div>

            @if (Model.Transactions.Count == 0)
            {
            <div class="panel-body">
                <p>There is currently no usage usage history.</p>
            </div>
            }
            else
            {
            <table class="table table-striped table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width:200px;">
                    <col span="1" style="width:200px;">
                    <col span="1" style="width:auto;">
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            <div>Time</div>
                        </th>
                        <th>
                            <div>Product</div>
                        </th>
                        <th>
                            <div>Info</div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (PurchaseTransaction transaction in Model.Transactions)
                        {
                        <tr>
                            <td>
                                <span>@DateTimeExtensions.ToStringFriendly(transaction.Timestamp, ViewBag.TimeZone)</span>
                            </td>
                            <td>
                                <span>@transaction.Product</span>
                            </td>
                            <td>
                                <span>@transaction.Info</span>

                                @if (transaction.OrderId.HasValue)
                                {
                                    <span>Order Id:@transaction.OrderId.Value</span>
                                }
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            }

        </div>
    </div>
</div>