@{
    ViewData["Title"] = "Purchase";
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
    <li class="active">@ViewData["Title"]</li>
</ul>

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Order</h3>
            </div>

            <div class="panel-body">
                <p>Choose how many you want to buy.</p>

                @model CreateOrderModel

                <form asp-controller="Orders" asp-action="SinglePurchase" method="post" class="form-horizontal">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="radio">
                        <label><input id="rdo1" type="radio" value="500" asp-for="Choice" onchange="OnOptionChanged()" />500</label>
                    </div>
                    <div class="radio">
                        <label><input id="rdo2" type="radio" value="1000" asp-for="Choice" onchange="OnOptionChanged()" checked />1000</label>
                    </div>
                    <div class="radio">
                        <label><input id="rdo3" type="radio" value="2000" asp-for="Choice" onchange="OnOptionChanged()" />2000</label>
                    </div>
                    <div class="radio">
                        <label><input id="rdoOther" type="radio" value="-1" asp-for="Choice" onchange="OnOptionChanged()" />Other amount</label>
                        @*<input id="inputCredits" type="number" min="100" max="10000000" step="100" asp-for="@Model.Credits" value="@Model.Credits" onchange="UpdateCost()" style="width:80px;" />*@
                    </div>

                    <div class="top-margin">
                        <label style="width:80px">Cost </label>
                        <label id="lblCost" style="width:80px;"></label>
                        <input hidden="hidden" readonly="readonly" type="number" asp-for="@Model.Cost" value="@Model.Cost" />

                        <button type="button" class="btn btn-standard btn-sm" onclick="UpdateCost()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>

                    </div>

                    <button type="submit" class="btn btn-success" style="margin-top:30px; width:200px;">
                        <span class="glyphicon glyphicon-plus-sign"></span> Buy
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Credit cost</h3>
            </div>
            <div class="panel-body">

                <a class="btn btn-sm btn-standard bottom-margin-sm" asp-controller="Orders" asp-action="Pricing">Pricing details</a>

                @await Html.PartialAsync("CreditCost")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        window.onload = function () {
            OnOptionChanged();
        };

        function OnOptionChanged() {
            UpdateCost();
            UpdateReadonly();
        }

        function UpdateCost() {

            var label = document.getElementById('lblCost');
            var credits;

            label.innerHTML = ''

            var rdo1 = document.getElementById('rdo1');
            var rdo2 = document.getElementById('rdo2');
            var rdo3 = document.getElementById('rdo3');
            var rdoOther = document.getElementById('rdoOther');

            if (rdo1.checked) {
                credits = rdo1.value;
            }
            else if (rdo2.checked) {
                credits = rdo2.value;
            }
            else if (rdo3.checked) {
                credits = rdo3.value;
            }
            else if (rdoOther.checked) {
                credits = document.getElementById('inputCredits').value;
            }
            else {
                return;
            }

            $.ajax({
                url: '/Orders/GetCost',
                data: { credits: credits },
                success: function (data) {
                    label.innerHTML = data.cost;
                }
            });
        }

        function UpdateReadonly() {
            var rdoOther = document.getElementById('rdoOther');
            var nudOther = document.getElementById("inputCredits");

            if (rdoOther.checked) {
                nudOther.disabled = false;
            }
            else {
                nudOther.disabled = true;
            }
        }

    </script>
}